doctype html
html(lang="en")
    head
        title = "Speaker Show"
        script(src="/jquery/jquery.js")
        link(rel='stylesheet', href='/stylesheets/main.css')
    body
        h1= speaker.first_name + ' ' + speaker.last_name
        div.nav
            a(href='/')= "Back to Speakers List"

        dl
            dt= "First Name"
                dd.view= speaker.first_name
                dd.edit
                    input#first-name(type="text" value= speaker.first_name)
            br
            dt= "Last Name"
                dd.view= speaker.last_name
                dd.edit
                    input#last-name(type="text" value= speaker.last_name)
            br
            dt= "Email"
                dd.view= speaker.email
                dd.edit
                    input#email(type="text" value= speaker.email)
            br
            dt
                dd.edit
                    input(type='submit' value='Save' onClick='save("#{speaker.id}")')
                    input(type='submit' value='Cancel' onClick='cancel()')
            br


        p
            a(href='#' onclick='edit()')= "Edit "
            a(href='#' onclick='drop("#{speaker.id}")')= "Drop"

        script.
            function edit() {
                $('.view').hide()
                $('.edit').show()
            }

            function cancel() {
                $('.edit').hide()
                $('.view').show()
            }

            function save(speakerId) {
                var updatedSpeaker =
                    [
                        {name: 'email', prompt: 'Email', value: $('#email').val()},
                        {name: 'first-name', prompt: 'First Name', value: $('#first-name').val()},
                        {name: 'last-name', prompt: 'Last Name', value: $('#last-name').val()}
                    ]
                console.log("saving")
                console.log('update', updatedSpeaker)
                $.ajax('/' + speakerId, {
                    method: 'PUT',
                    data: {
                        'email': 'email',
                        'first_name': 'first',
                        'last_name': 'last'
                    },
                    complete: function () {
                        cancel()
                        location.reload()
                    }
                })
            }
            function drop(speakerId) {
                    $.ajax('/' + speakerId, {
                    method: 'DELETE',
                    complete: function () {
                        location = '/'
                    }
                })
            }
