doctype html
html(lang="en")
    head
        title = "Speaker Show"
        script(src="/jquery/jquery.js")
        link(rel='stylesheet', href='/stylesheets/main.css')
    body
        h1= speaker.name.first + ' ' + speaker.name.last
        div.nav
            a(href='/')= "Back to Speakers List"

        dl
            dt= "First Name"
                dd.view= speaker.name.first
                dd.edit
                    input#first-name(type="text" value= speaker.name.first)
            br
            dt= "Last Name"
                dd.view= speaker.name.last
                dd.edit
                    input#last-name(type="text" value= speaker.name.last)
            br
            dt= "Email"
                dd.view= speaker.email
                dd.edit
                    input#email(type="text" value= speaker.email)
            br
            dt
                dd.edit
                    input(type='submit' value='Save' onClick='save("#{speaker.speakerId}")')
                    input(type='submit' value='Cancel' onClick='cancel()')
            br


        p
            a(href='#' onclick='edit()')= "Edit "
            a(href='#' onclick='drop("#{speaker.speakerId}")')= "Drop"

        script.
            function edit() {
                $('.view').hide()
                $('.edit').show()
            }

            function cancel() {
                $('.edit').hide()
                $('.view').show()
            }

            function save(speakerId) {
                console.log("saving")
                $.ajax('/speakers/' + speakerId, {
                    method: 'PUT',
                    data: {
                        speakerId: speakerId,
                        email: $('#email').val(),
                        name:{
                            first: $('#first-name').val(),
                            last: $('#last-name').val(),
                        }
                    },
                    complete: function () {
                        cancel()
                        location.reload()
                    }
                })
            }
            function drop(speakerId) {
                    $.ajax('/speakers/' + speakerId, {
                    method: 'DELETE',
                    complete: function () {
                        location = '/'
                    }
                })
            }
